<h1>Ember Simple Auth + 2FA Demo</h1>

<div class="menu">
  {{#link-to 'application'}}Home{{/link-to}} |
  {{#if session.isAuthenticated}}
    {{#link-to 'profile'}}Profile{{/link-to}} |
    <a href="#" {{action 'invalidateSession'}}>Logout</a>
  {{else}}
    {{#link-to 'login'}}Login{{/link-to}}
  {{/if}}
</div>

<hr>

<div class="main">
  {{outlet}}
</div>

<footer>
  <hr>
  <small><em>Source code available on GitHub: <a href="https://github.com/f3ndot/ember-simple-auth-2fa-demo
  ">https://github.com/f3ndot/ember-simple-auth-2fa-demo
  </a></em></small>
</footer>