<h2><em>Welcome to the demo!</em></h2>

{{#if session.isAuthenticated}}
  <h3><strong style="color:green">You are currently authenticated.</strong></h3>
{{else}}
  <h3><strong style="color:red">You are not currently authenticated.</strong></h3>
{{/if}}

<p>You can try to visit {{#link-to 'profile'}}<code>/profile</code>{{/link-to}} if you dare&hellip;</p>